
#hero-img {
    color: white;
    text-align: center;
    height: 100vh;
    position: relative;
    background: cover;
}

#hero-img img{
    height: 100vh;
    width: 100%;
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ) url('./hero.jpg')
}

#hero-img h1 {
    width: 40;
    left: 16%;
    top: 25%;
    position: absolute;
    font-size: 85px;
    font-weight: 200;
    letter-spacing: 3px;
    word-spacing: 9px;
    filter: blur(0.4px);
    -webkit-filter: blur(0.4px);
}
